<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Арена Урал" />
    <meta name="keywords" content="" />
    <title>Авторизация</title>
    <!-- Favicons -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- шрифты -->
    <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="fonts/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="fonts/Code-Pro-LC.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="fonts/Code-Pro-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="fonts/Code-Pro-Black-LC.woff2" as="font" type="font/woff2" crossorigin="anonymous">

    <!-- Тут нужны только эти стили -->
    <link rel="stylesheet" href="vendors/select2/select2.min.css">
    <link rel="stylesheet" href="css/common.css?15">
    <link rel="stylesheet" href="css/auth.min.css">
</head>

<body>
    <main>
        <div class="auth-block" id="auth-block">
            <div class="auth-block__content">
                <a href="/" class="auth-block__head">
                    <img src="imgs/logo.svg" alt="">
                </a>
                <form class="auth-block__forms" @submit.prevent>
                    <div class="auth-form" v-show="showFormType == 'auth'">
                        <h4 class="form-title">Авторизация</h4>
                        <label class="auth-block__label"
                            :class="{'has-error':(authFormData.checkValidate && !isEmailValid(authFormData.email))}">
                            <span class="label__info">Email*</span>
                            <input type="text" name="email" class="form_input" placeholder="you@company.com"
                                v-model.trim="authFormData.email">
                            <span class="error-message">Укажите корректный Email</span>
                        </label>


                        <label class="auth-block__label"
                            :class="{'has-error':authFormData.checkValidate && !authFormData.password}">
                            <span class="label__info">Пароль*</span>
                            <div class="pass-input__wrapper">
                                <input type="password" class="form_input pass-input" placeholder="***********"
                                    v-model.trim="authFormData.password">
                                <span class="error-message"
                                    v-if="authFormData.checkValidate && !authFormData.password">Заполните
                                    поле</span>
                                <span class="error-message" v-if="authFormData.ajaxErrors.length>0"
                                    style="display: block;" v-for="err in authFormData.ajaxErrors">{{err}}</span>
                                <div class="show-pass"></div>
                            </div>
                        </label>
                        <button class="btn auth-form__btn" @click="getAuth">Войти</button>
                        <button class="forgot-password-btn" @click="showFormType = 'forgot'">Забыли пароль?</button>
                        <div class="auth-form__footer">
                            <button class="btn auth-form__btn vk-auth">
                                <span class="ico">
                                    <svg width="27" height="17" viewBox="0 0 27 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.5333 16.65C5.41658 16.65 0.216667 10.4 0 0H4.56667C4.71667 7.63333 8.08325 10.8667 10.7499 11.5333V0H15.0501V6.58333C17.6834 6.3 20.4497 3.3 21.3831 0H25.6832C24.9665 4.06667 21.9665 7.06667 19.8332 8.3C21.9665 9.3 25.3833 11.9167 26.6833 16.65H21.9498C20.9332 13.4833 18.4001 11.0333 15.0501 10.7V16.65H14.5333Z"
                                            fill="white" />
                                    </svg>
                                </span>
                                Авторизация
                            </button>
                            <button class="btn auth-form__btn" @click="showFormType = 'register'">Регистрация по
                                E-mail</button>
                        </div>
                    </div>
                    <div class="register-form" v-show="showFormType == 'register'">
                        <h4 class="form-title">Регистрация по E-mail</h4>
                        <div class="form-descr">Заполните данные</div>
                        <label class="auth-block__label"
                            :class="{'has-error':registerData.checkValidate && registerData.errors.includes('invalid-email')}">
                            <span class="label__info">Email*</span>
                            <input type="text" class="form_input" placeholder="you@company.com"
                                v-model.trim="registerData.email" @input="hideRegErr($event)" name="email">
                            <div class="error-message">Укажите корректный Email</div>

                        </label>
                        <label class="auth-block__label"
                            :class="{'has-error':registerData.checkValidate && registerData.errors.includes('invalid-pass')}">
                            <span class="label__info">Пароль*</span>
                            <div class="pass-input__wrapper">
                                <input type="password" class="form_input pass-input" placeholder="******"
                                    autocomplete="new-password" v-model.trim="registerData.password"
                                    @input="hideRegErr($event)" name="pass">
                                <div class="show-pass"></div>
                            </div>
                            <div class="error-message">Минимум 6 символов (латиница и цифры)</div>
                        </label>
                        <label class="auth-block__label"
                            :class="{'has-error':registerData.checkValidate && registerData.errors.includes('not-match')}">
                            <span class="label__info">Повторите пароль*</span>
                            <div class="pass-input__wrapper">
                                <input type="password" class="form_input pass-input" placeholder="******"
                                    autocomplete="new-password" v-model.trim="registerData.passwordRepeat"
                                    @input="hideRegErr($event)" name="pass-repeat">
                                <div class="show-pass"></div>
                            </div>
                            <div class="error-message">Пароли не совпадают</div>
                        </label>
                        <button class="btn auth-form__btn" @click="createCabinetStep">Далее</button>
                        <button class="forgot-password-btn" @click="showFormType = 'auth'">Авторизация</button>
                    </div>
                    <div class="forgot-form register-form" v-show="showFormType == 'forgot'">
                        <h4 class="form-title">Забыли пароль?</h4>
                        <div class="form-descr">Введите E-mail на который отправить пароль</div>
                        <label class="auth-block__label"
                            :class="{'has-error':forgotEmailData.checkValidate && forgotEmailData.errors.includes('invalid-email')}">
                            <span class="label__info">Email*</span>
                            <input type="text" class="form_input" placeholder="you@company.com"
                                v-model.trim="forgotEmailData.email" name="email" @input="hideFogotErr">
                            <div class="error-message">Укажите корректный Email</div>

                        </label>
                        <button class="btn auth-form__btn" @click="setFogotEmail">Отправить</button>
                        <button class="forgot-password-btn" @click="showFormType = 'auth'">Авторизация</button>
                    </div>
                    <div class="create-cabinet-form register-form" v-show="showFormType == 'create-cabinet'">
                        <h4 class="form-title">Создание личного кабинета</h4>
                        <div class="labeles__wrepper three-in-row">
                            <label class="auth-block__label"
                                :class="{'has-error':createCabinetData.checkValidate && createCabinetData.errors.includes('invalid-surname')}">
                                <span class="label__info">Фамилия*</span>
                                <input type="text" class="form_input" placeholder="Иванов"
                                    v-model.trim="createCabinetData.surname" name="surname"
                                    @input="hideCreateErr($event)">
                                <div class="error-message">Заполните поле</div>
                            </label>

                            <label class="auth-block__label"
                                :class="{'has-error':createCabinetData.checkValidate && createCabinetData.errors.includes('invalid-name')}">
                                <span class="label__info">Имя*</span>
                                <input type="text" class="form_input" placeholder="Иван"
                                    v-model.trim="createCabinetData.name" name="name" @input="hideCreateErr($event)">
                                <div class="error-message">Заполните поле</div>
                            </label>

                            <label class="auth-block__label"
                                :class="{'has-error':createCabinetData.checkValidate && createCabinetData.errors.includes('invalid-patronymic')}">
                                <span class="label__info">Отчество*</span>
                                <input type="text" class="form_input" placeholder="Иванович"
                                    v-model.trim="createCabinetData.patronymic" name="patronymic"
                                    @input="hideCreateErr($event)">
                                <div class="error-message">Заполните поле</div>
                            </label>
                        </div>
                        <div class="labeles__wrepper">
                            <label class="auth-block__label"
                                :class="{'has-error':createCabinetData.checkValidate && createCabinetData.errors.includes('invalid-phone')}">
                                <span class="label__info">Телефон*</span>
                                <input type="text" class="form_input phone-input" placeholder="+7(000)000-00-00"
                                    v-model.trim="createCabinetData.phone" maxlength="16" name="phone"
                                    @input="hideCreateErr($event)" autocomplete="off">
                                <div class="error-message">Укажите корректный номер</div>

                            </label>

                            <label class="auth-block__label"
                                :class="{'has-error':createCabinetData.checkValidate && createCabinetData.errors.includes('invalid-email')}">
                                <span class="label__info">Email*</span>
                                <input type="text" class="form_input" placeholder="you@company.com"
                                    v-model.trim="registerData.email" @input="hideCreateErr($event)">
                                <div class="error-message">Укажите корректный Email</div>

                            </label>
                        </div>
                        <div class="labeles__wrepper">
                            <div class="auth-block__label date__input-label"
                                :class="{'has-error':createCabinetData.checkValidate && createCabinetData.errors.includes('invalid-birthday')}">
                                <span class="label__info">Дата рождения*</span>
                                <div class="date__input_wrapper">
                                    <input type="text" class="form_input date__input" placeholder="10.20.2024"
                                        readonly="">
                                    <div class="error-message">Необходимо заполнить поле</div>

                                </div>
                            </div>

                            <label class="auth-block__label">
                                <span class="label__info">Пол*</span>
                                <select class="category_select select" name="gender" v-model="createCabinetData.gender">
                                    <option value="Мужской">Мужской</option>
                                    <option value="Женский">Женский</option>
                                </select>
                            </label>
                        </div>

                        <label class="auth-block__label">
                            <span class="label__info">Паспорт болельщика</span>
                            <input type="text" class="form_input" placeholder="Введите номер паспорта"
                                v-model.trim="createCabinetData.fanID">
                        </label>

                        <label class="checkbox_block"
                            :class="{'has-error':createCabinetData.checkValidate && createCabinetData.errors.includes('invalid-consentPersonalData')}">
                            <input type="checkbox" class="checkbox_block_input"
                                v-model="createCabinetData.consentPersonalData" @change="checkAgree($event)"
                                name="consentPersonalData">
                            <span class="checkbox_block_caption">Я даю свое согласие на обработку моих
                                персональных
                                данных в соответствии с законом
                                №152-ФЗ «О персональных данных» от 27.07.2006 и <a href="#">Политикой
                                    Компании</a> в
                                области защиты персональных данных</span>
                        </label>

                        <label class="checkbox_block"
                            :class="{'has-error':createCabinetData.checkValidate && createCabinetData.errors.includes('invalid-agreementToSiteRules')}">
                            <input type="checkbox" class="checkbox_block_input"
                                v-model="createCabinetData.agreementToSiteRules" @change="checkAgree($event)"
                                name="agreementToSiteRules">
                            <span class="checkbox_block_caption">"С условиями работы на платформе согласен."</span>
                        </label>
                        <button class="btn auth-form__btn" @click="createUser">Создать аккаунт</button>
                    </div>

                </form>
                <div class="auth-block__footer">
                    <span>© 2024 Все права защищены</span>
                    <a href="mailto:info@arena-ural.ru" class="auth-block__help">
                        <span class="ico">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.6673 3.99996C14.6673 3.26663 14.0673 2.66663 13.334 2.66663H2.66732C1.93398 2.66663 1.33398 3.26663 1.33398 3.99996M14.6673 3.99996V12C14.6673 12.7333 14.0673 13.3333 13.334 13.3333H2.66732C1.93398 13.3333 1.33398 12.7333 1.33398 12V3.99996M14.6673 3.99996L8.00065 8.66663L1.33398 3.99996"
                                    stroke="#667085" stroke-width="1.33333" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                        </span>
                        <span>info@arena-ural.ru</span>
                    </a>
                </div>
            </div>
            <div class="auth-block__image" style="background-image: url(./imgs/auth-bg.jpg);"></div>

            <transition name="fade" mode="out-in">
                <div class="auth-block-modal" v-if="showModal" @click="closeModal">
                    <div class="auth-block-modal__content">
                        <div class="auth-block-modal__close"></div>
                        <div class="auth-block-modal__ico"></div>
                        <div class="auth-block-modal__title" v-html="modalText"></div>
                        <button class="btn auth-form__btn" @click="showAuthScreen">Авторизация</button>
                    </div>
                </div>
            </transition>
        </div>
    </main>
    <!-- Тут нужны только эти скрипты -->
    <script src="vendors/jquery/jquery-3.5.1.min.js"></script>
    <script src="vendors/easepick/easepick.umd.min.js"></script>
    <script src="vendors/select2/select2.full.min.js"></script>
    <script src="vendors/imask/imask.js"></script>
    <script src="vendors/vue/vue.global.min.js"></script>
    <script src="js/auth.js"></script>
</body>

</html>